package {{ .PackageName }}

import (
    "github.com/grafana/grafana-app-sdk/resource"
    metav1 "k8s.io/apimachinery/pkg/apis/meta/v1"
	"k8s.io/apimachinery/pkg/runtime"
)

type {{ .WrapperTypeName }} struct {
    metav1.TypeMeta
    {{ .TypeName }}
}

func (o *{{ .WrapperTypeName }}) DeepCopyObject() runtime.Object {
    return resource.CopyObject(o)
}