# https://help.github.com/articles/about-codeowners/
# https://git-scm.com/docs/gitignore#_pattern_format

# See the following docs for more details about order in CODEOWNERS
# https://github.community/t/order-of-owners-in-codeowners-file/143073
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

* @grafana/grafana-app-platform-squad
