go 1.25.7

use (
	.
	./examples/apiserver
	./examples/operator/simple/sharded-reconciler
	./logging
	./plugin
)

replace google.golang.org/genproto => google.golang.org/genproto v0.0.0-20260401024825-9d38bb4040a9
