package kinds

// config contains global code generation configuration options for the app.
// You can modify this as you see fit. These are the defaults:
config: {
	customResourceDefinitions: {
		includeInManifest: true
		useCRDFormat:      true
		path:              "definitions"
		format:            "json"
	}

	kinds: {
		grouping:       "kind"
		perKindVersion: false
	}

	codegen: {
		goGenPath:                      "pkg/generated/"
		tsGenPath:                      "plugin/src/generated/"
		enableK8sPostProcessing:        false
		enableOperatorStatusGeneration: true
	}
}
