package plugin

import (
	"context"
	"io"
	"net/http"
	"strings"

	"github.com/grafana/grafana-app-sdk/plugin"
	"github.com/grafana/grafana-app-sdk/plugin/router"
	"github.com/grafana/grafana-app-sdk/resource"
	"github.com/grafana/grafana-plugin-sdk-go/backend/log"
	"github.com/grafana/grafana-plugin-sdk-go/backend/tracing"

	"{{.Repo}}/{{.APICodegenPath}}/models/{{.MachineName}}"
)

type {{.Name}}Service interface {
	List(ctx context.Context, namespace string, filters ...string) ([]{{.MachineName}}.{{.TypeName}}, error)
	Get(ctx context.Context, id resource.Identifier) (*{{.MachineName}}.{{.TypeName}}, error)
	Add(ctx context.Context, namespace string, obj *{{.MachineName}}.{{.TypeName}}) (*{{.MachineName}}.{{.TypeName}}, error)
	Update(ctx context.Context, id resource.Identifier, obj *{{.MachineName}}.{{.TypeName}}) (*{{.MachineName}}.{{.TypeName}}, error)
	Delete(ctx context.Context, id resource.Identifier) error
}

func (p *Plugin) handle{{.Name}}List(ctx context.Context, req router.JSONRequest) (router.JSONResponse, error) {
	ctx, span := tracing.DefaultTracer().Start(ctx, "{{.MachineName}}-list")
	defer span.End()
	filtersRaw := req.URL.Query().Get("filters")
	filters := make([]string, 0)
	if len(filtersRaw) > 0 {
		filters = strings.Split(filtersRaw, ",")
	}
	svc, err := p.service.Get{{.Name}}Service(ctx)
	if err != nil {
	    log.DefaultLogger.Error("Error getting {{.Name}}Service: " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
	    return nil, plugin.NewError(http.StatusInternalServerError, err.Error())
	}
	return svc.List(ctx, p.namespace, filters...)
}

func (p *Plugin) handle{{.Name}}Get(ctx context.Context, req router.JSONRequest) (router.JSONResponse, error) {
	ctx, span := tracing.DefaultTracer().Start(ctx, "{{.MachineName}}-get")
	defer span.End()
    svc, err := p.service.Get{{.Name}}Service(ctx)
    if err != nil {
	    log.DefaultLogger.Error("Error getting {{.Name}}Service: " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
        return nil, plugin.NewError(http.StatusInternalServerError, err.Error())
    }
	obj, err := svc.Get(ctx, resource.Identifier{
		Namespace: p.namespace,
		Name:      req.Vars.MustGet("name"),
	})
	if err != nil {
		if e, ok := err.(errWithStatusCode); ok {
			return nil, plugin.NewError(e.StatusCode(), e.Error())
		} else {
            log.DefaultLogger.Error("Error getting {{.Name}} '" + req.Vars.MustGet("name") + "': " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
        }
	}
	return obj, err
}

func (p *Plugin) handle{{.Name}}Create(ctx context.Context, req router.JSONRequest) (router.JSONResponse, error) {
	ctx, span := tracing.DefaultTracer().Start(ctx, "{{.MachineName}}-create")
	defer span.End()
	body, err := io.ReadAll(req.Body)
	if err != nil {
		return nil, plugin.NewError(http.StatusBadRequest, err.Error())
	}

    unmarshaled{{.TypeName}}, err := {{.MachineName}}.UnmarshalJSON(body, "")
	if err != nil {
		return nil, plugin.NewError(http.StatusBadRequest, err.Error())
	}

    svc, err := p.service.Get{{.Name}}Service(ctx)
    if err != nil {
	    log.DefaultLogger.Error("Error getting {{.Name}}Service: " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
        return nil, plugin.NewError(http.StatusInternalServerError, err.Error())
    }
	obj, err := svc.Add(ctx, p.namespace, unmarshaled{{.TypeName}})
	if err != nil {
		if e, ok := err.(errWithStatusCode); ok {
			return nil, plugin.NewError(e.StatusCode(), e.Error())
		} else {
            log.DefaultLogger.Error("Error creating new {{.Name}}: " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
        }
	}
	return obj, err
}

func (p *Plugin) handle{{.Name}}Update(ctx context.Context, req router.JSONRequest) (router.JSONResponse, error) {
	ctx, span := tracing.DefaultTracer().Start(ctx, "{{.MachineName}}-update")
	defer span.End()
	body, err := io.ReadAll(req.Body)
	if err != nil {
		return nil, plugin.NewError(http.StatusBadRequest, err.Error())
	}

	unmarshaled{{.TypeName}}, err := {{.MachineName}}.UnmarshalJSON(body, "")
	if err != nil {
		return nil, plugin.NewError(http.StatusBadRequest, err.Error())
	}

    svc, err := p.service.Get{{.Name}}Service(ctx)
    if err != nil {
	    log.DefaultLogger.Error("Error getting {{.Name}}Service: " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
        return nil, plugin.NewError(http.StatusInternalServerError, err.Error())
    }
	obj, err := svc.Update(ctx, resource.Identifier{
		Namespace: p.namespace,
		Name:      req.Vars.MustGet("name"),
	}, unmarshaled{{.TypeName}})
	if err != nil {
		if e, ok := err.(errWithStatusCode); ok {
			return nil, plugin.NewError(e.StatusCode(), e.Error())
		} else {
            log.DefaultLogger.Error("Error updating {{.Name}} '" + req.Vars.MustGet("name") + "': " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
        }
	}
	return obj, err
}

func (p *Plugin) handle{{.Name}}Delete(ctx context.Context, req router.JSONRequest) (router.JSONResponse, error) {
	ctx, span := tracing.DefaultTracer().Start(ctx, "{{.MachineName}}-delete")
	defer span.End()
    svc, err := p.service.Get{{.Name}}Service(ctx)
    if err != nil {
	    log.DefaultLogger.Error("Error getting {{.Name}}Service: " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
        return nil, plugin.NewError(http.StatusInternalServerError, err.Error())
    }
	err = svc.Delete(ctx, resource.Identifier{
		Namespace: p.namespace,
		Name:      req.Vars.MustGet("name"),
	})
	if err != nil {
		if e, ok := err.(errWithStatusCode); ok {
			return nil, plugin.NewError(e.StatusCode(), e.Error())
		} else {
	        log.DefaultLogger.Error("Error deleting {{.Name}} '" + req.Vars.MustGet("name") + "': " + err.Error(), "error", err, "traceID", span.SpanContext().TraceID())
	    }
	}
	return nil, err
}
