package main

import (
    "context"
    "errors"
	"fmt"
	"os"
	"strings"

	"github.com/grafana/grafana-app-sdk/k8s"
	"github.com/grafana/grafana-app-sdk/logging"
	"github.com/grafana/grafana-app-sdk/metrics"
	sdkPlugin "github.com/grafana/grafana-app-sdk/plugin"
	"github.com/grafana/grafana-app-sdk/plugin/kubeconfig"
	"github.com/grafana/grafana-app-sdk/resource"
	"github.com/grafana/grafana-plugin-sdk-go/backend"
	"github.com/grafana/grafana-plugin-sdk-go/backend/app"
	"github.com/grafana/grafana-plugin-sdk-go/backend/instancemgmt"
	"github.com/grafana/grafana-plugin-sdk-go/backend/log"
	"github.com/grafana/grafana-plugin-sdk-go/backend/tracing"
	"github.com/prometheus/client_golang/prometheus"
	"go.opentelemetry.io/otel/attribute"

	{{ if .KindsAreGrouped }}{{ range $key, $val := .GVToKind }}{{ $.ToPackageNameVariable ($key.String) }} "{{$.Repo}}/{{$.APICodegenPath}}/{{ $.GroupToPackageName $key.Group }}/{{ $.ToPackageName $key.Version }}"
	{{ end }}{{ else }}{{ range .Resources }}{{.MachineName}} "{{$.Repo}}/{{$.APICodegenPath}}/{{ $.ToPackageName .MachineName }}/{{ $.ToPackageName .Current}}"
    {{end}}{{end}}"{{.Repo}}/pkg/plugin"
)

const (
    pluginID = "{{.PluginID}}"
)

func main() {
	// Set the app-sdk logger to use the plugin-sdk logger
    logger := sdkPlugin.NewLogger(log.DefaultLogger.With("pluginID", pluginID))
	logger.Info("starting plugin", "pluginID", pluginID)
	logging.DefaultLogger = logger

	logger.Info("starting plugin", "pluginID", pluginID)

    // app.Manage handles the app plugin lifecycle
	if err := app.Manage(pluginID, newInstanceFactory(logger), app.ManageOpts{
		TracingOpts: tracing.Opts{
			CustomAttributes: []attribute.KeyValue{
				attribute.String("plugin.id", pluginID),
			},
		},
	}); err != nil {
		logger.Error("failed to initialize instance", "err", err)
		os.Exit(1)
	}

	logger.Info("plugin exited normally", "pluginID", pluginID)
	os.Exit(0)
}

//
// GENERATED EXAMPLE SERVICE CODE
// You may want to write your own PluginService code. This example code simply returns unexported 
// service variables for their associated GetX() methods, requiring the initializer to 
// properly set up the services when creating an instance of PluginService. 
// This code initializes each service to a resource.TypedStore for the appropriate schema. 
//

// PluginService implements plugin.Service
type PluginService struct { {{ range .Resources }}
    {{ .MachineName }}Service plugin.{{ .Kind }}Service{{ end }}
}
{{ range .Resources }}
// Get{{ .Kind }}Service returns a {{ .Kind }}Service
func (s *PluginService) Get{{ .Kind }}Service(ctx context.Context) (plugin.{{ .Kind }}Service, error) {
    return s.{{ .MachineName }}Service, nil
}
{{ end }}

// newInstanceFactory returns an app.InstanceFactoryFunc to be used with app.Manage
func newInstanceFactory(logger logging.Logger) app.InstanceFactoryFunc {
	return func(ctx context.Context, settings backend.AppInstanceSettings) (instancemgmt.Instance, error) {
        // Load the kubernetes config from the AppInstanceSettings
		kcfg := kubeconfig.NamespacedConfig{}
		err := kubeconfig.NewLoader().LoadFromSettings(settings, &kcfg)
		if err != nil {
            logger.Error("failed to load kubernetes config from settings", "err", err)
			return nil, err
		}

		// Create our client generator, using kubernetes as a store
		clientGenerator := k8s.NewClientRegistry(kcfg.RestConfig, k8s.ClientConfig{
			MetricsConfig: metrics.Config{
				Namespace: strings.ReplaceAll(pluginID, "-", "_"),
			},
		})
		// newInstanceFactory can be called multiple times, so we don't want to panic when re-registering collectors
		for _, c := range clientGenerator.PrometheusCollectors() {
			if err := prometheus.Register(c); err != nil && !errors.As(err, &prometheus.AlreadyRegisteredError{}) {
				return nil, fmt.Errorf("unable to register prometheus collectors: %w", err)
			}
		}

        // Create our PluginService, then assign values to the individual Kind service(s)
        svc := PluginService{}

		// Create stores for each Kind{{ range $key, $val := .GVToKind }}{{ range $val }}
        {{ .MachineName }}Store, err := resource.NewTypedStore[*{{if $.KindsAreGrouped }}{{$.ToPackageNameVariable ($key.String)}}{{else}}{{ $.ToPackageName .MachineName }}{{end}}.{{ .Kind }}]({{if $.KindsAreGrouped }}{{$.ToPackageNameVariable ($key.String)}}.{{.Kind}}Kind(){{else}}{{ $.ToPackageName .MachineName }}.Kind(){{end}}, clientGenerator)
        if err != nil {
            logger.Error("failed to create {{ .Kind }} store", "err", err)
            return nil, fmt.Errorf("failed to create {{ .Kind }} store: %w", err)
        }
        svc.{{ .MachineName }}Service = {{ .MachineName }}Store{{ end }}{{ end }}

        // Create the plugin, which allows for CallResource requests to it as an instancemgmt.Instance
        p, err := plugin.New(kcfg.Namespace, &svc)
        if err != nil {
            logger.Error("failed to create plugin instance", "err", err)
			return nil, fmt.Errorf("failed to create plugin instance: %w", err)
        }

		logger.Info("plugin instance provisioned successfully")
		return p, nil
	}
}
