{{- define "object_all_custom_methods" -}}
{{ $objName := .Object.Name|formatObjectName }}
{{- if or .Object.Type.Struct .Object.Type.Enum .Object.Type.Map -}}
// OpenAPIModelName returns the OpenAPI model name for {{ $objName }}.
func ({{ $objName }}) OpenAPIModelName() string {
	return "{{ namerFunc $objName }}"
}
{{- end -}}
{{- end -}}