{{- define "object_all_custom_methods" -}}
{{ $objName := .Object.Name|formatObjectName }}
// OpenAPIModelName returns the OpenAPI model name for {{ $objName }}.
func ({{ $objName }}) OpenAPIModelName() string {
	return "{{ namerFunc $objName }}"
}
{{- end -}}
