{{- define "openapimodelname" -}}
{{ $obj := . }}
{{ $objName := $obj.Name|formatObjectName }}
{{- if or $obj.Type.Struct $obj.Type.Enum $obj.Type.Map -}}
// OpenAPIModelName returns the OpenAPI model name for {{ $objName }}.
func ({{ $objName }}) OpenAPIModelName() string {
	return "{{ namerFunc $objName }}"
}
{{- end -}}
{{- end -}}