name: Build PR

on:
  pull_request:
    branches:
    - main
    - "lts/v0.24"
    - "feat/*"

permissions:
  contents: read

jobs:
  check:
    name: Go Workspace Check
    runs-on: ubuntu-latest
    # Exlude dependabot from this check--it can't run make update-workspace, 
    # We'll just force the next PR author to do it instead for now
    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          persist-credentials: false

      - name: Set go version
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
        with:
          go-version-file: 'go.mod'

      - name: Update workspace
        run: make update-workspace

      - name: Check for go mod & workspace changes
        run: |
          if ! git diff --exit-code --quiet; then
            echo "Changes detected:"
            git diff
            echo "Please run 'make update-workspace' and commit the changes."
            exit 1
          fi
  lint:
    runs-on: ubuntu-latest
    steps:
    # git checkout
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        fetch-depth: 0
        persist-credentials: false
    # go env
    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
      with:
        go-version-file: 'go.mod'
    # make lint
    - name: Lint
      uses: golangci/golangci-lint-action@b002b6ecfcabe6ac0e2c6cba1bcc779eb34ac51f # v9
      with:
        version: v2.5.0
        only-new-issues: true
        args: --timeout 5m $(go list -f '{{.Dir}}/...' -m  | tr '\n' ' ')
  test:
    uses: ./.github/workflows/test.yml
