name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  test:
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml
  release:
    permissions:
      contents: write
    needs: ['test']
    runs-on: ubuntu-latest
    steps:
    # git checkout
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        fetch-depth: 0
        persist-credentials: false
    # Go env
    - name: Set up Go
      uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
      with:
        go-version-file: 'go.mod'
        cache: false
    # Release
    - name: Create Release
      uses: goreleaser/goreleaser-action@5fdedb94abba051217030cc86d4523cf3f02243d # v4
      with:
        distribution: goreleaser
        version: latest
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
