name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  test:
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml
  release:
    permissions:
      contents: write
    needs: ['test']
    runs-on: ubuntu-latest
    steps:
    # git checkout
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      with:
        fetch-depth: 0
        persist-credentials: false
    # Go env
    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version-file: 'go.mod'
        cache: false
    # Release
    - name: Create Release
      uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6
      with:
        distribution: goreleaser
        version: latest
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
